annotated-types==0.8.0
certifi==2026.7.22
charset-normalizer==3.5.1
formulaic==1.2.2
idna==3.20
iniconfig==2.3.0
interface_meta==2.0.1
narwhals==2.26.0
numpy==2.5.3
numpy-typing-compat==20260602.2.5
optype==0.18.0
packaging==26.3
pandas==3.0.6
patsy==1.0.3
pluggy==1.6.0
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
requests==2.34.2
scipy==1.18.1
scipy-stubs==1.18.1.1
six==1.17.0
statsmodels==0.15.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
wrapt==2.4.2rc1
